/* Custom CSS goes here */

body {
  background-color: rgb(235, 187, 160);
   
}

h1 {
  color: rgb(19, 23, 224);
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-style: italic;
}


/* body {
  padding-bottom: 70px;
  } */

