<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          
            <h2>Welcome to World of Endless Books </h2>
            <p>This is fastest and time saving website where you can upload name of the book along with it's price.</p>
            <p>Hurry up !! You can also get book of your choice.</p>
            <p>Don't forget to comment :)</p>
          
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


